@import "tailwindcss";
@source "../../react/src";

@layer base {
  h1 {
    @apply text-6xl font-bold
  }
  h2 {
    @apply text-5xl font-bold
  }
  h3 {
    @apply text-4xl font-bold
  }
  h4 {
    @apply text-3xl font-bold
  }
  h5 {
    @apply text-2xl font-bold
  }
  h6 {
    @apply text-xl font-bold
  }
  p {
    @apply text-base;
  }
  ul > li {
    @apply list-disc ml-4
  }
  ol > li {
    @apply list-decimal ml-4
  }
}
